<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    循环结构遍历对象
    v-if 可以和 v-for 结合使用 符号条件才渲染

    <div id="app">
        <div v-if='value == 1' v-for='(value,key,index) in myFruits'>{{value+'--'+key+'--'+index}}</div>
    </div>

    <script src="vue.js"></script>
    <script>
        // 使用原生js 遍历对象的方法
        var obj = {
            uname: 'lisi',
            age: 16,
            sex: 'man'
        }

        for (var key in obj) {
            console.log(key, obj[key]);
        }


        var vm = new Vue({
            el: '#app',
            data: {
                myFruits: {
                    id: 1,
                    ename: 'apple',
                    cname: '苹果'
                }
            }
        })
    </script>
</body>

</html>