* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

.w {
    width: 1300px;
    height: 2000px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    border: 0;
    outline: none;
    text-indent: 1em;

}